*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: #1a1a1a;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translate(-50%, -50%);
  background-color: #cfcfcf;
  height: 35rem;
  width: 25rem;
  border-radius: 25px;
  box-shadow: -3px -3px 10px rgb(80, 80, 80) inset;
}

.displayScreen {
  background-color: #a5a5a5f5;
  position: relative;
  left: 9.5%;
  border-radius: 25px;
  height: 15%;
  width: 80%;
  box-shadow: 2px 2px 5px #1a1a1a;
}

.numberButton {
  border: 1px solid black;
  border-radius: 25px;
  aspect-ratio: 1;
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: black;
    color: white;
    font-size: 1.5rem;
  }
}

.numbersContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  width: 80%;
  left: 10%;
  justify-items: center;
  column-gap: 0;
  height: 50%;
  gap: 5px;
}

.resetButton {
  height: 2rem;
  width: 80%;
  background-color: #a5a5a5f5;
  color: rgb(85, 85, 85);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10%;
  top: -1rem;
  border-radius: 25px;
}
